services:
  superset:
    container_name: superset_docker
    build:
      dockerfile_inline: |
        FROM apache/superset:6.0.0
        USER root
        RUN mkdir /app/docker/config
        RUN echo "SECRET_KEY = '$(openssl rand -base64 42)'" >> /app/docker/config/superset_config.py
        ENV SUPERSET_CONFIG_PATH=/app/docker/config/superset_config.py
        USER superset
    ports:
      - 8088:8088
    command: ["/app/docker/docker-bootstrap.sh", "app"]
